.Console {
    border-top : solid 2px;
    border-radius: 10px;
    background: #BDBDBD;
}
.Console h3 {
    color: black
}
.Log {
    background: black;
    padding-top: 1%;
    width: 100%;
    height: 300px;
    overflow: scroll;
}
.Log p {
    color:white;
    margin-left: 3%;
}