#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ddd;
}

#myBar {
    position: absolute;
    width: 0;
    height: 100%;
    background-color: #4CAF50;
}

#label {
    text-align: center;
    line-height: 30px;
    color: white;
}